<p class="p1">О сайте:</p>
<br>
<p class="p2">Политика нашей страны направлена на то, чтобы передать молодому поколению как можно больше правдивой информации о Великой Отечественной Войне. Одним из самых главных способов взаимодействия с современной молодёжью является интернет, поэтому было принято решение создать интерактивный сайт о Героях Великой Отечественной Войны. </p>
<br>
<p class="p1">Контакты:</p>
<br>
<p class="p3"> +7 (916) 888 - 91 - 47</p>
<br>
<p class="p3"> +7 (915) 123 - 43 - 79</p>
