.p1{
font-size: 200%;
}
.p2{
    font-size:150%;
}
.p3{
    font-size: 175%;
}
@media screen and (width: 320px) {
}
@media screen and (width: 360px) {
}
@media screen and (width: 375px) {
}
@media screen and (width: 411px) {
}
@media screen and (width: 414px) {
}
@media screen and (width: 425px) {
}
@media screen and (width: 768px) {
}
@media screen and (width: 1024px) {
}
@media screen and (width: 1440px) {
}
@media screen and (width: 1920px) {
}
@media screen and (width: 2560px) {
}
