
@media screen and (width: 320px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 360px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 375px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 411px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 414px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 425px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 768px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 1024px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 1440px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}
@media screen and (width: 1920px) {
  .vk{
    padding-top: 10%;
width: 40%;

  }
  .discord{
    width: 40%; ;

  }
}
@media screen and (width: 2560px) {
  .vk{
    padding-top: 10%;
width: 60%;

  }
  .discord{
    width: 60%; ;

  }
}

