<div class="container">
  <div class="righter"></div>
  <div class="sub-container">
    <p click="myFunction()" class="p1">Павличенко, Людмила Михайловна</p>
  </div>
  <div class="lefter"></div>
</div>
<div class="scnd-container">
  <div class="righter "></div>
  <div class="center">
    <div class="p2">Людми́ла Миха́йловна Павличе́нко (урождённая Бело́ва; 29 июня [12 июля] 1916, Белая Церковь,
      Васильковский уезд, Киевская губерния, Российская империя — 27 октября 1974, Москва, РСФСР, СССР) —
      советский снайпер 25-й Чапаевской стрелковой дивизии Рабоче-крестьянской Красной армии. Герой Советского
      Союза (1943). После окончания Великой Отечественной войны до 1956 года была офицером Главного (в
      1950—1953 гг. — Морского Генерального) штаба Военно-морского флота СССР в звании майора береговой
      службы.</div>
  </div>
  <div class="lefter">
  </div>
</div>
