
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="updateInfo($event)" autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<ng-container *ngIf="person">
    <div>
        {{person.name}}

    </div>
    <div>
        {{person.date}}
    </div>
    <div>
        {{person.info}}
    </div>
</ng-container>